.archive
  padding: 2rem;
  margin-bottom: 2rem;

.archive-title
  a
    color: color-text;
    &:hover
      text-decoration: underline;

.archive-thumbnail
  .thumbnail
    width: 10.66rem;
    height: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
