@import "nib"
@import "_variables"

body
  font-family: -apple-system,BlinkMacSystemFont,"游ゴシック","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","Noto Sans Japanese","Noto Sans CJK JP","メイリオ",Meiryo,sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pwid";
  font-size: 1rem;
  line-height: 1.5;
  color: #222;

a
  transition: all 0.5s;

.columns
  margin: 0;

@import "_index"
@import "_sidebar"
@import "_post"
@import "_archive"

@import "_partial/_header"
@import "_partial/_highlight"
@import "_partial/_widget"
@import "_partial/_nav"
@import "_partial/_pagination"
@import "_partial/_thumbnail"
