<% if (post.tags && post.tags.length){ %>
  <div class="tags">
    <% post.tags.forEach(tag => { %>
      <a class="tag" href="<%- url_for(tag.path) %>"><%= tag.name %></a>
    <% }) %>
  </div>
<% } %>
