.pagination
  display: flex;
  justify-content: center;

  .extend
  .page-number
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.25em;
    height: 2.25em;
    min-width: 2.25em;
    line-height: 2.25em;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 1em;
    text-align: center;

  .current
    color: #fff;
    background: #00d1b2;
    border-color: #00d1b2;
