.pagination
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .extend
  .page-number
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.25em;
    height: 2.25em;
    min-width: 2.25em;
    line-height: 2.25em;
    border: 1px solid color-border;
    border-radius: 3px;
    font-size: 1em;
    text-align: center;

  .current
    color: color-white;
    background: color-secondary;
    border-color: color-secondary;
