.widget
  margin-bottom: 3rem;
  a
    color: color-text;
    &:hover
      text-decoration: underline;

.widget-title
  margin-bottom: 0.75rem;

.profile
  .icon
    cursor: pointer;

.profile-avatar
  .avatar
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;

.archive-list-item
  line-height: 200%;
  > a
    margin-right: 0.5em;

.archive-list-count
  &::before
    content: "(";
  &::after
    content: ")";

.recent-post-item
  .thumbnail-container
    width: 6rem;
    height: 6rem;
