.widget
  margin-bottom: 3rem;
  a
    color: color-text;
    &:hover
      text-decoration: underline;

.widget-title
  margin-bottom: 0.75rem;

.profile
  .icon
    cursor: pointer;
    
.profile-avatar
  .avatar
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

.archive-list-item
  line-height: 200%;
  > a
    margin-right: 0.5em;

.archive-list-count
  &::before
    content: "(";
  &::after
    content: ")";

.recent-post-item
  .thumbnail
    width: 6rem;
    height: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
